<div class="body-global">
    <div class="main-global">
        
        <h2 class="titulo">Assista Agora</h2>
        <section class="live-transmission">
            <h3 class="sub-titulo">📡 Transmissões ao Vivo</h3>
            <div class="video-container">
                <iframe src="https://www.youtube.com/embed/vn-_MczGPsM" title="Último Culto" frameborder="0"
                    allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share"
                    referrerpolicy="strict-origin-when-cross-origin" allowfullscreen></iframe>
            </div>
        </section>
    </div>
</div>