<div class="body-global">
    <div class="main-global">
        
        <h2 class="titulo">Assista Agora</h2>

        <section class="live-transmission">
            <p class="sub-titulo">Venha louvar a Deus conosco!<br>Será uma alegria ter você conosco em nossos encontros</p>

<h2>⛪ Cultos Oficiais</h2>
            <div class="schedule">
                <h3>🗓 <strong>Quarta-feira às 20h</strong></h3>
                <h3>🗓 <strong>Domingo às 9h e às 18h</strong></h3>
            </div>
           
                
            <h3 class="sub-titulo">📡 Transmissões ao Vivo</h3>
            <div class="video-container">
                <iframe src="https://www.youtube.com/embed/vn-_MczGPsM" title="Último Culto" frameborder="0"
                    allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share"
                    referrerpolicy="strict-origin-when-cross-origin" allowfullscreen></iframe>
            </div>
            <div style="text-align: center;">
                <a class="live-link" href="https://www.youtube.com/@MinisterioNovotempo" target="_blank">
                  🎥 Click aqui canal no YouTube
                </a>
              </div>
        </section>
    </div>
</div>