@import url('https://fonts.googleapis.com/css2?family=Capriola&family=Kalnia+Glaze:wght@100..700&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Roboto+Serif:ital,opsz,wght@0,8..144,100..900;1,8..144,100..900&display=swap');

main{
    font-family: "Roboto Serif", Arial, Helvetica, sans-serif;
}


/* Reset de estilos básicos */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


section {
    margin-bottom: 30px;
    margin-right: 1px;
}



p, h2, li {
    font-size: 1.1rem;
    margin-bottom: 20px;
    line-height: 1.6;
}



/* Seções */
section {
    background-color: #fff;
    max-width: auto;
    margin: 20px auto;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1);
}

/* Estilização dos títulos dentro das seções */
section h2 {
    font-size: 22px;
    color: #781bc4;
    border-bottom: 2px solid #2980b9;
    padding-bottom: 5px;
}

/* Parágrafos */
section p {
    font-size: 20px;
    line-height: 1.6;
    text-align: justify;
}

/* Bloco de versículos */
blockquote {
    font-style: italic;
    color: #555;
    background-color: #f9f9f9;
    padding: 15px;
    border-left: 5px solid #781bc4;
    margin: 15px 0;
    border-radius: 5px;
}

cite {
    display: block;
    text-align: right;
    font-weight: bold;
    margin-top: 10px;
}

/* Lista de benefícios */
ul {
    list-style: none;
    padding: 0;
}

ul li {
    background: url('https://img.icons8.com/ios-glyphs/30/8e44ad/checkmark.png') no-repeat left center;
    background-size: 20px;
    padding-left: 30px;
    margin: 8px 0;
    font-size: 16px;
}

/* Estilização do formulário */
form {
    display: flex;
    flex-direction: column;
}

label {
    font-weight: bold;
    margin-top: 10px;
}

input, textarea {
    width: 100%;
    padding: 10px;
    margin-top: 5px;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 16px;
}

textarea {
    resize: none;
}

button {
    background-color: #781bc4;
    color: white;
    font-size: 16px;
    padding: 10px;
    margin-top: 15px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: 0.3s;
}

button:hover {
    background-color: #1f6692;
}

footer p {
    margin: 10px 0;
}

/* Responsividade */
@media (max-width: 768px) {
    section {
        max-width: 90%;
        padding: 15px;
    }

    .titulo-pagina {
        font-size: 24px;
    }

    section h2 {
        font-size: 20px;
    }

    ul lii {
        font-size: 14px;
        padding-left: 25px;
    }

    blockquote {
        font-size: 14px;
        padding: 10px;
    }
}

@media (max-width: 480px) {
    .titulo-pagina {
        font-size: 22px;
    }

    section {
        padding: 10px;
    }

    input, textarea, button {
        font-size: 14px;
    }
}

.menu ul li {
    background: none; /* Remove o ícone de check apenas do menu */
    padding-left: 0;
}