/* Reset de estilos básicos */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Arial', sans-serif;
    background-color: #f4f4f4;
    color: #333;
    line-height: 1.6;
    padding: 0 10px;
}

/* Cabeçalho */
header {
    background-color:black;
    color: white;
    padding: 20px 0;
    text-align: center;
}

header h1 {
    font-size: 2.5rem;
    font-weight: bold;
}

nav ul {
    display: flex;
    justify-content: center;
    margin-top: 10px;
    list-style: none;
}

nav ul li {
    margin: 0 15px;
}

nav ul li a {
    color: white;
    text-decoration: none;
    font-size: 1.1rem;
    transition: color 0.3s ease;
}

nav ul li a:hover {
    color: #ff6347;
}

/* Main Content */
main {
    max-width: 1200px;
    margin: 30px auto;
    padding: 20px;
    background-color: white;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

section {
    margin-bottom: 30px;
}

h2 {
    font-size: 2rem;
    margin-bottom: 15px;
    color: black;
}

p {
    font-size: 1.1rem;
    margin-bottom: 20px;
    line-height: 1.6;
}

form {
    background-color: #f9f9f9;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.05);
}

form label {
    display: block;
    font-size: 1rem;
    margin-bottom: 8px;
    color: #555;
}

form input, form textarea {
    width: 100%;
    padding: 10px;
    margin-bottom: 20px;
    border: 1px solid #ccc;
    border-radius: 4px;
    font-size: 1rem;
}

form textarea {
    resize: vertical;
}

form button {
    background-color: #004a99;
    color: white;
    border: none;
    padding: 10px 20px;
    font-size: 1rem;
    border-radius: 4px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

form button:hover {
    background-color: #003366;
}


footer p {
    margin: 10px 0;
}

/* Responsividade */
@media (max-width: 768px) {
    nav ul {
        flex-direction: column;
    }

    nav ul li {
        margin-bottom: 10px;
    }

    header h1 {
        font-size: 2rem;
    }

    main {
        padding: 15px;
    }

    form input, form textarea {
        font-size: 1rem;
    }
}
