@import url('https://fonts.googleapis.com/css2?family=Capriola&family=Kalnia+Glaze:wght@100..700&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Roboto+Serif:ital,opsz,wght@0,8..144,100..900;1,8..144,100..900&display=swap');


/* Estilos para a agenda */
table.agenda {
    width: 100%;
    border-collapse: collapse;
    margin-top: 20px;
}

table.agenda th, table.agenda td {
    padding: 12px;
    border: 1px solid #ddd;
    text-align: left;
}

table.agenda th {
    background-color: #004a99;
    color: white;
    font-size: 1.1rem;
    font-family: "Roboto Serif", Arial, Helvetica, sans-serif;
}

table.agenda td {
    font-size: 1rem;
    font-family: "Roboto Serif", Arial, Helvetica, sans-serif;
}

table.agenda tr:nth-child(even) {
    background-color: #f2f2f2;
}

table.agenda tr:hover {
    background-color: #eaeaea;
}

@media (max-width: 768px) {
    table.agenda th, table.agenda td {
        font-size: 0.9rem;
        padding: 8px;
    }
}