@import url('https://fonts.googleapis.com/css2?family=Capriola&family=Kalnia+Glaze:wght@100..700&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Roboto+Serif:ital,opsz,wght@0,8..144,100..900;1,8..144,100..900&display=swap');

main{
    font-family: "Roboto Serif", Arial, Helvetica, sans-serif;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Corpo da página */
body {
    
    font-family: "Roboto Serif", Arial, Helvetica, sans-serif;
    line-height: 1.6;
    background-color: #f4f4f4;
    color: #333;
    
}

/* Estilização da seção de doações */
.doacao {
    background: white;
    padding: 40px;
    text-align: center;
    border-radius: 10px;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.2);
    margin: 20px auto;
    max-width: 600px;
}

.doacao h2, .doacao h3 {
    color: #6d318c;
    font-size: 22px;
    margin-bottom: 10px;
}

.doacao p {
    font-size: 16px;
    color: #333;
    margin-bottom: 10px;
}

.doacao ul {
    list-style: none;
    padding: 0;
    text-align: left;
    display: inline-block;
}

.doacao li {
    font-size: 16px;
    margin: 5px 0;
    display: flex;
    align-items: center;
}

.qrcode {
    width: 200px;
    height: auto;
    margin: 15px 0;
    border: 2px solid #6d318c;
    border-radius: 10px;
    padding: 5px;
}

.botao-doacao {
    display: inline-block;
    background: #6d318c;
    color: #fff;
    padding: 12px 20px;
    font-size: 18px;
    border-radius: 5px;
    text-decoration: none;
    transition: 0.3s;
    margin-top: 15px;
}

.botao-doacao:hover {
    background: #511d6b;
}
