/* Estilos das caixas */

.box {
    background-color: #fff;
    border-radius: 8px;
    padding: 1.5rem;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    font-size: 1rem;
    color: #333;
}

.box p {
    line-height: 1.6;
}

.imagem-secao {
    width: 50%; /* A imagem ocupa 80% da largura da caixa, ajustável */
    height: auto; /* Mantém a proporção da imagem */
    object-fit: cover; /* Preenche a área sem distorcer */
    display: block; /* Remove espaços indesejados */
    margin: 0 auto; /* Centraliza a imagem */
    border-radius: 20px; /* Bordas arredondadas */
}

p{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 25px;
}

