<div class="admin-container">
    <div class="admin-header">
      <h2 class="titulo">
        <span class="icon">📘</span> Gestão de Cursos
      </h2>
      <p class="sub-titulo">Visualize, edite ou remova cursos existentes</p>
    </div>
  
    <div class="courses-list" *ngIf="courses.length > 0; else noCourses">
      <div class="course-item" *ngFor="let course of courses">
        <h3><span class="icon">{{ course.icon }}</span> {{ course.title }}</h3>
        <p>{{ course.shortDescription }}</p>
        <button class="btn btn-edit" [routerLink]="['/admin/edit/course', course.id]">Editar</button>
      </div>
    </div>
  
    <ng-template #noCourses>
      <p class="sub-titulo">Nenhum curso encontrado.</p>
    </ng-template>
  </div>
  