/* Cabeçalho */
header {
    /* background-color: black; */
    background: linear-gradient(to right, rgba(137, 56, 224, 0.41), black);
    color: white;
    padding: 10px 20px; /* Mantém espaço interno */
    text-align: center;
    width: 100%; /* Ocupa toda a largura da tela */
    margin: 0; /* Remove qualquer margem */
    border-radius: 0; /* Remove arredondamento */
}
header nav ul {
    list-style: none;
    padding: 0;
    margin-top: 5px;
}

header nav ul li {
    display: inline-block;
    margin-right: 20px;
}

header nav ul li a {
    color: white;
    text-decoration: none;
    font-size: 1rem;
    
}

header nav ul li a:hover {
    color: #ffcc00;
}

/* Logo */

.logo img {
    max-width: 100%;  /* A imagem ocupará no máximo 100% da largura disponível */
    height: auto;     /* A altura será ajustada automaticamente para manter a proporção */
    max-height: 100px; /* Definir uma altura máxima para a imagem do logo 
    */
    border-radius: 50px;
}


/* Acessibilidade */


.Ouvir {
    display: flex;
    align-items: center;
    justify-content: flex-end; /* Alinha o conteúdo à direita */
    background-color: #ddd; /* Fundo suave */
    padding: 2xpx;
    border-radius: 2px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); /* Sombra suave */
    margin: 10px 0;
    margin-left: auto; /* Move o container para a margem direita da tela */
    width: fit-content; /* Ajusta a largura conforme o conteúdo */
}

.Ouvir img {
    width: 20px;
    height: 20px;
    margin-right: 10px; /* Espaçamento entre o ícone e o botão */
    transition: transform 0.3s ease; /* Animação suave ao passar o mouse */
}

.Ouvir img:hover {
    transform: scale(1.2); /* Aumenta levemente o ícone ao passar o mouse */
}

.container {
    display: flex;
    justify-content: flex-end; /* Alinha os itens no lado direito */
    align-items: center; /* Centraliza verticalmente */
}

.Ouvir button {
    background-color: #dddddd; /* Cor de fundo do botão */
    color: black; /* Cor do texto do botão */
    border: none;
    padding: 2px 2px;
    border-radius: 5px;
    font-size: 16px;
    cursor: pointer;
    transition: background-color 0.3s ease, transform 0.3s ease; /* Animações suaves */
}


.Ouvir button:hover {
    background: linear-gradient(to right, rgba(137, 56, 224, 0.41), black);
    /* background-color: #8938e069; Cor de fundo ao passar o mouse */
    transform: scale(1.05); /* Aumenta levemente o botão ao passar o mouse */
   color:white
}

.Ouvir button:active {
    background-color: #004494; /* Cor de fundo ao clicar */
}

