<footer>  
    <ul>
      <li>
          <a class="midia-link-lista" href="https://www.youtube.com/@MinisterioNovotempo">
              <img src="assets/img/logos/youTube.jpg" alt="Logo do YouTube" />
          </a>
      </li>
      <!-- YouTube -->
      <li>
          <a class="midia-link-lista" href="https://www.instagram.com/mnovotempo/">
              <img src="assets/img/logos/instagram.jpg" alt="Logo do Instagram" />
          </a>
      </li>
      <!-- Instagram -->
      <li>
          <a class="midia-link-lista" href="https://www.facebook.com/imnovotempo">
              <img src="assets/img/logos/facebook.png" alt="Logo do Facebook" />
          </a>
      </li>
      <!-- Facebook -->
      <li>
          <a class="midia-link-lista" href="https://www.tiktok.com/@hashtagprogramacao">
              <img src="assets/img/logos/tik-tok.jpg" alt="Logo do TikTok" />
          </a>
      </li>
      <!-- TikTok -->
      <li>
          <a class="midia-link-lista" href="https://wa.me/5511918330406">
              <img src="assets/img/logos/whatsapp.jpg" alt="Ícone do Whatsapp" />
          </a>
      </li>
      <!-- Whatsapp -->
      <li>
          <a href="#" class="midia-link-lista" id="retornar">
              <img src="assets/img/logos/return.jpg" alt="Ícone de seta para voltar" />
              <strong>Inicio</strong>
            
          </a>
      </li>
      <!-- Retornar -->
  </ul>
       <br>
        <address>
          <p>Endereço: Rua Jaime Duprat, 530, Bairro: Parque Vitoria, Cidade Franco da Rocha, Estado SP,CEP:07857-0800 </p>
        </address>
      <p>&copy; 2025 Igreja Cristã Novo Tempo - Todos os direitos reservados.</p>
  </footer>
  <script src="../Js/index.js"></script>