/* Container Centralizado e Responsivo */
.usuarios-container {
  max-width: 1200px;
  margin: 0 auto;
  padding: 20px;
  margin-bottom: 50px;
}

/* Título */
.titulo {
  text-align: center;
  font-size: 1.8rem;
  margin-bottom: 1rem;
  font-family: Georgia, 'Times New Roman', Times, serif;
  color: black;
  font-weight: 800;
  margin-top: 1rem;
}

/* Tabela */
.usuarios-tabela {
  width: 100%;
  text-align: center;
  border-collapse: collapse;
  border-radius: 10px;
  overflow: hidden;
  box-shadow: 0 3px 6px rgba(0, 0, 0, 0.1);
  margin: 0 auto;
}

.usuarios-tabela thead {
  background: linear-gradient(to right, rgba(137, 56, 224, 0.41), black);
  color: white;
  font-weight: bold;
  font-size: 1.2rem;
}

.usuarios-tabela th,
.usuarios-tabela td {
  padding: 14px;
  border-bottom: 1px solid #ddd;
  font-size: 1.1rem;
}

.usuarios-tabela tbody tr:nth-child(even) {
  background: #f2f2f2;
}

.usuarios-tabela tbody tr:hover {
  background: #d6eaf8;
  transition: 0.3s;
}

/* Select */
.usuarios-select {
  width: 100%;
  min-width: 80px;
  padding: 0.6rem;
  border-radius: 20px;
  border: 1px solid #ccc;
  font-size: 1rem;
  box-sizing: border-box;
  white-space: nowrap;
  overflow: hidden;
}

/* Botão */
.btn-usuario {
  background: linear-gradient(to right, rgba(137, 56, 224, 0.41), black);
  color: white;
  border: none;
  padding: 8px 14px;
  border-radius: 8px;
  cursor: pointer;
  font-weight: 600;
  font-size: 1rem;
  transition: background 0.3s;
}

.btn-usuario:hover {
  background: #253056;
}

/* Responsividade */
@media (max-width: 768px) {
  .usuarios-tabela th,
  .usuarios-tabela td {
    padding: 10px;
    font-size: 14px;
  }

  .titulo {
    font-size: 1.5rem;
  }
}

@media (max-width: 480px) {
  .usuarios-container {
    width: 100%;
    padding: 15px;
  }

  .usuarios-tabela {
    display: block;
    overflow-x: auto;
    white-space: nowrap;
  }

  .titulo {
    font-size: 1.3rem;
  }

  .btn-usuario {
    font-size: 0.9rem;
    padding: 6px 10px;
  }

  .usuarios-select {
    font-size: 0.95rem;
    padding: 12px;
    min-width: 100px;
  }
}
