<div class="course-details-container">
    <div class="course-header">
        <h3>{{ course.icon }} {{ course.title }}</h3>
      <p class="course-description">{{ course.description }}</p>
    </div>
  
    <div class="video-player-section" *ngIf="selectedVideoPath">
        <h4>▶ Reproduzindo: {{ selectedVideoName }}</h4>
        <div class="video-wrapper">
          <video controls>
            <source [src]="selectedVideoPath" type="video/mp4" />
            Seu navegador não suporta a tag de vídeo.
          </video>
        </div>
      </div>
      
  
    <div class="video-list-section">
      <h3>Módulos do Curso</h3>
      <ul class="video-list">
        <li *ngFor="let video of course.videos" (click)="playVideo(video)" [class.active]="video.title === selectedVideoName">
          🎬 {{ video.title }}
        </li>
      </ul>
    </div>
  </div>
  