<div class="body-global">

    <div class="main-global">

        <h2 class="titulo">Escola Biblíca NT</h2>
        <div class="button-wrapper">
            <a routerLink="/signin" class="signin">Entrar</a>
            <a routerLink="/signup" class="signup">Cadastrar</a>
          </div>

        <section class="welcome">
            <h3 class="sub-titulo">📖 Bem-vindo à Escola Bíblica Novo Tempo!</h3>
            <p>Nosso propósito é proporcionar um ensino bíblico de qualidade, capacitando líderes e todos aqueles que
                desejam crescer no conhecimento da Palavra de Deus.</p>
        </section>

        <section class="courses">
            <h3 class="sub-titulo">🎓 Cursos Oferecidos</h3>
            <div class="course-container">
              <div class="course" *ngFor="let course of courses">
                <h3 class="sub-titulo">{{ course.icon }} {{ course.title }}</h3>
                <p>{{ course.description }}</p>
                <a [routerLink]="['/course', course.id]" class="btn">Saiba mais</a>
              </div>
            </div>
        </section>

        <section class="testemunhos">
            <h3 class="sub-titulo">Depoimentos de Alunos</h3>
            <div class="testemunho">
                <p>"A Escola Bíblica Novo Tempo me ajudou a entender a palavra de Deus de maneira profunda e prática.
                    Foi uma bênção em minha vida!" - João da Silva</p>
            </div>
            <div class="testemunho">
                <p>"Os cursos são muito bem estruturados e os professores são excelentes. Agradeço a Deus por essa
                    oportunidade." - Maria Santos</p>
            </div>
        </section>
    </div>
</div>