@import url('https://fonts.googleapis.com/css2?family=Capriola&family=Kalnia+Glaze:wght@100..700&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Roboto+Serif:ital,opsz,wght@0,8..144,100..900;1,8..144,100..900&display=swap');

main{
    font-family: Georgia, 'Times New Roman', Times, serif;
}

/* Estilização Geral */


/* Seções */
section {
    background-color: #fff;
    max-width: auto;
    margin: 20px auto;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1);
    text-align: center;
    background-color: #f6e4f14b;
    border-top: 2px solid  #ff00e150;
    border-bottom: 2px solid #ff00e150;
}

/* Títulos */


/* Parágrafos */
p {
    font-size: 16px;
    line-height: 1.6;
    text-align: justify;
    margin: 5px;
}

/* Estilização do mapa */
.map-container {
    margin: 20px auto;
    max-width: 100%;
    border-radius: 10px;
    overflow: hidden;
}

/* Botão do Google Maps */
.button-container {
    margin-top: 15px;
}

.map-button {
    background: linear-gradient(to right, rgba(137, 56, 224, 0.41), black);
    color: white;
    font-size: 16px;
    padding: 10px 20px;
    text-decoration: none;
    border-radius: 5px;
    display: inline-block;
    transition: 0.3s;
}

.map-button:hover {
    background-color: #6d318c;
}


/* Responsividade */
@media (max-width: 768px) {
    section {
        max-width: 90%;
        padding: 15px;
        margin: 0 auto;
    }

    h2 {
        font-size: 1.4rem;
        margin: 10px 0;
        text-align: center;
    }

    .map-button {
        font-size: 1rem;
        padding: 10px 16px;
        width: 100%;
        max-width: 300px;
        margin: 10px auto;
        display: block;
        border-radius: 8px;
    }
}

/* Centraliza o título e o parágrafo */
.titulo-pagina, p {
    text-align: center;
}
