<div class="body-global">
    <div class="main-global">

        <h2 class=" sub-titulo">Generosidade</h2>

        <section class="doacao">
            <h2>❤️ Doe e Apoie Nossas Missões</h2>
            <p>Contribua para transformar vidas! Suas doações ajudam a manter nosso processo de generosidade, alcançar
                vidas e mudar destinos</p>

            <h3>📌 Informações Bancárias</h3>
            <p><strong>Banco:</strong> Santander</p>
            <p><strong>Agência: 0154</strong> </p>
            <p><strong>Conta Corrente: 307467 - 6</strong> </p>
            <p><strong>Nome:</strong> Thais Paulino dos Santos</p>
            <p><strong>CNPJ:</strong> 47.750.284/0001-05</p>

            <h3>📲 Doe via Pix (Pelo app do banco) </h3>
            <p> 🚨 Antes de confirmar seu Pix, verifique se o nome está correto. Fique atento a tentativas de golpe.</p>
            <p>Chave Pix: <strong>47.750.284/0001-05</strong></p>
            <img src="assets/img/generosity/qr-code-pix.jpg" alt="QR Code para doação via Pix" class="qrcode">

            <br><a href="https://wa.me/5511918330406" class="botao-doacao" target="_blank">Contribua agora mesmo — é só
                chamar no WhatsApp</a>
        </section>

    </div>
</div>