



.container {
  max-width: 800px;
  margin: 0 auto 30px auto;
  padding: 20px;
  background-color: #f6e4f14b;
  border-top: 0.2rem solid  #58137350;
  border-bottom: 0.1rem solid #58137350;
  border-radius: 10px;
  box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.1);
  margin-bottom: 2re;
}


 .titulo {
  font-family: Georgia, 'Times New Roman', Times, serif;
    text-align: center;
    font-size:1.6rem;
    margin-top: 1rem auto;
    color: black;
   font-weight: 800;
   margin-bottom: 20px;}


 .sub-titulo {
    text-align: center;
    font-size: 1.3rem;
    margin-bottom: 1rem;
    font-family: Georgia, 'Times New Roman', Times, serif;
    color: black;
   font-weight: 600;
  }

.form-login {
  display: flex;
  flex-direction: column;
  gap: 15px;
  max-width: 400px;
  margin: 0 auto;
}

.campo {
  display: flex;
  flex-direction: column;
  text-align: left;
}

.campo label {
  margin-bottom: 5px;
  font-weight: bold;
  color: black;
}

.campo input {
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
  font-family: Georgia, 'Times New Roman', Times, serif;
}

button[type="submit"] {
   display: inline-block;
    width: 100%; /* Faz o bot達o ocupar toda a largura do container */
    background: linear-gradient(to right, rgba(137, 56, 224, 0.41), black);
    color: white;
    text-decoration: none;
    padding: 10px 0; /* Ajuste para o bot達o ficar mais fino */
    border-radius: 8px;
    font-weight: bold;
    text-align: center;
    transition: background 0.3s ease-in-out;
    box-sizing: border-box; /* Garante que o padding n達o afete a largura do bot達o */
    margin: 0.5rem 0;
}

button[type="submit"]:hover {
  background: #253056;
    transition: background 0.3s ease-in-out;
}

/* Responsividade */
@media (max-width: 768px) {
  .sub-titulo {
    font-size: 1.5rem;
    margin: 15px 0;
  }

.container{
    padding: 15px;
    margin: 0 10px 30px 10px;
  }

  .form-login {
    width: 100%;
    max-width: 100%;
    padding: 0 10px;
  }
}

@media (max-width: 480px) {
  .sub-titulo {
    font-size: 1rem;
    font-weight: 600;
  }
  .sub-titulo {
     font-size: 1.1rem;
      font-weight: 800;
  }

  button[type="submit"] {
    font-size: 0.9rem;
    padding: 10px;
  }
}