

/* Estilo para a seção de evangelismo */
section {
    background-color: #f6e4f14b; /* Cor de fundo suave */
    padding: 20px;
    border-radius: 10px; /* Borda arredondada */
    box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.1); /* Sombra suave */
    max-width: 800px;
    margin: 10px auto;
    text-align: justify;
    border-top: 0.2rem solid  #58137350;
    border-bottom: 0.1rem solid #58137350;}


/* Parágrafos da seção */
section p {
    color: black;
    font-size: 1.1rem;
    line-height: 1.6;
    margin-bottom: 10px;
}

/* Último parágrafo em negrito */
section p:last-child {
    font-weight: 500;
    font-size: 1rem;
}

/* Estilo para o versículo do dia */
.versiculo {
    font-size: 1rem;
    font-style: italic;
    margin-top: 10px;
    background-color: #fff;
    border-top: 0.3rem solid  #58137350;
     border-bottom: 0.1rem solid #58137350;
     border-radius: 0.3rem;
    padding: 0.8rem;}
/* Subtítulo */
.titulo {
    font-family: Georgia, 'Times New Roman', Times, serif;
      text-align: center;
      font-size:1.8rem;
      margin-top: 2rem;
      color: black;
     font-weight: 800;}
    
     


  
   .sub-titulo {
      text-align: center;
      font-size: 1.3rem;
      margin-bottom: 1rem;
      font-family: Georgia, 'Times New Roman', Times, serif;
      color: black;
     font-weight: 600;
    }

    /* .evangelismo {
        font-size: 18px;
        color: black;
        margin-bottom: 20px;
        text-align: left;
        margin: 0.5rem;
      } */

/* Responsivo: até 768px */
@media (max-width: 768px) {
    .sub-titulo {
        font-size: 1.6rem;
    }

    section {
        max-width: 90%;
        padding: 15px;
    }

    section h2 {
        font-size: 1.4rem;
    }

    section p {
        font-size: 1rem;
    }
}

/* Responsivo: até 480px */
@media (max-width: 480px) {
    .sub-titulo {
        font-size: 1.1rem;
    }

    section {
        padding: 12px;
    }

    section h2 {
        font-size: 1.2rem;
    }

    section p {
        font-size: 1rem;
        line-height: 1.5;
    }
}
