<div class="body-global">

    <div class="main-global">

        <h2 class="titulo">Célula NT</h2>
        <section>
            <h3 class="sub-titulo">O que é uma célula?</h3>

            <p>As células são pequenos grupos de fé que se reúnem semanalmente para compartilhar a Palavra de Deus,
                orar, cuidar uns dos outros e viver a comunhão cristã de forma mais íntima. Elas são o coração pulsante
                da Igreja Novo Tempo, pois nos permitem crescer espiritualmente em um ambiente acolhedor e de apoio
                mútuo.

            </p>
            <p>Em cada célula, você encontrará um espaço seguro para estudar a Bíblia, compartilhar experiências e ser
                edificado na fé. Além disso, as células são uma excelente oportunidade para desenvolver relacionamentos
                profundos e fortalecer a unidade da igreja. Se você deseja fazer parte de uma célula, entre em contato
                conosco ou participe de uma de nossas reuniões!</p>
        </section>

        <section class="blockquote">
            <h2 class="sub-titulo">Base Bíblica sobre as células</h2>
            <p>Desde os tempos da igreja primitiva, os cristãos se reuniam em pequenos grupos para edificação mútua. A
                Bíblia nos ensina sobre a importância da comunhão e do crescimento espiritual em grupos menores:</p>

            <p><strong>“Todos os dias, continuavam a reunir-se no pátio do templo. Partiam o pão em suas casas e juntos
                    participavam das refeições, com alegria e sinceridade de coração.”</strong></p>
            <cite>Atos 2:46</cite>

            <p><strong>“Porque, onde estiverem dois ou três reunidos em meu nome, ali estou no meio deles.”</strong></p>
            <cite>Mateus 18:20</cite>

            <p><strong>“Levem os fardos pesados uns dos outros e, assim, cumpram a lei de Cristo.”</strong></p>
            <cite>Gálatas 6:2</cite>

        </section>

        <section>
            <h2>Benefícios de participar de uma célula</h2>
            <p> Fortalecimento da fé através do estudo da Palavra de Deus.</p>
            <p> Relacionamentos saudáveis e apoio mútuo entre irmãos.</p>
            <p> Oportunidade para servir e crescer espiritualmente.</p>
            <p> Ambiente acolhedor para novos visitantes e membros.</p>
        </section>

        <section>
            <h2>Entre em contato para participar das células</h2>
        </section>
    </div>
</div>