

/* Seções */
section {
    background-color: #fff;
    max-width: 800px;
    margin: 20px auto;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1);
    font-family: Georgia, 'Times New Roman', Times, serif;
    background-color: #f6e4f14b;
    border-top: 0.5rem solid  #58137350;
     border-bottom: 0.1rem solid #58137350;
}

/* Estilização dos títulos dentro das seções */
section h2 {
    font-size: 22px;
    padding-bottom: 5px;
}

/* Parágrafos */
section p {
    font-size: 20px;
    line-height: 1.6;
    
}

/* Bloco de versículos */
blockquote {
    font-style: italic;
 color: black;
    background-color: #f9f9f9;
    padding: 15px;
    border-left: 2px solid #ff00e150;
    margin: 15px 0;
    border-radius: 5px;
}

.titulo {
    font-family: Georgia, 'Times New Roman', Times, serif;
      text-align: center;
      font-size:1.6rem;
      margin-bottom: 1rem;
      color: black;
     font-weight: 800;
     margin-bottom: 20px;}
  
   .sub-titulo {
      text-align: center;
      font-size: 1.3rem;
      margin-bottom: 1rem;
      font-family: Georgia, 'Times New Roman', Times, serif;
      color: black;
     font-weight: 600;
    }


/* Responsividade */
/* Telas grandes (até 1280px) */
@media (max-width: 1280px) {
    section {
        max-width: 95%;
        padding: 25px;
    }

    .titulo-pagina {
        font-size: 28px;
    }

    section h2 {
        font-size: 24px;
    }

    blockquote {
        font-size: 16px;
        padding: 12px 18px;
    }
}

/* Telas médias (até 1024px) */
@media (max-width: 1024px) {
    section {
        max-width: 92%;
        padding: 20px;
    }

    .titulo-pagina {
        font-size: 26px;
    }

    section h2 {
        font-size: 22px;
    }

    blockquote {
        font-size: 15px;
        padding: 12px;
    }
}

/* Telas pequenas (até 768px) */
@media (max-width: 768px) {
    section {
        max-width: 90%;
        padding: 15px;
    }

    .titulo-pagina {
        font-size: 24px;
    }

    section h2 {
        font-size: 20px;
    }

    blockquote {
        font-size: 14px;
        padding: 10px;
    }
}

/* Telas muito pequenas (até 480px) */
@media (max-width: 480px) {
    section {
        padding: 10px;
    }

   

    section h2 {
        font-size: 18px;
    }

    blockquote {
        font-size: 13px;
        padding: 8px;
    }
  


    .titulo {
        font-size: 1.3rem;
        padding: 0 10px;
        font-weight: 800;
    }

    .sub-titulo {
        font-size: 1.1rem;
        padding: 0 10px;
        font-weight: 600;
    }
      
           }
