<div class="body-global">
    <div class="main-global">
       
       
        <section class="container">

        
       
        <section class="welcome">
            <h2 class="sub-titulo"> Bem-vindo à nossa Família!</h2>

                <p>Guiados pelo amor a Deus e ao próximo, nossa visão é ser uma igreja que acolhe, cuida e oferece apoio incondicional, ajudando cada irmão a crescer espiritualmente e viver em harmonia com o propósito de Cristo."
                    O principal objetivo é acolher e fortalecer espiritualmente os Usuários desta página. Pois:"pessoas são mais importantes que coisas".</p>


                    <div class="video-container">


            <iframe id="video" src="https://www.youtube.com/embed/v3E8XbLalwQ?autoplay=1&mute=1&si=mDf5ghHvb8BB_nLJ" 
title="YouTube video player" frameborder="0" 
allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" 
referrerpolicy="strict-origin-when-cross-origin" allowfullscreen></iframe>
</div>
 <p>Venha louvar a Deus conosco!<br>Será uma alegria ter você conosco em nossos encontros</p>

<h2>⛪ Cultos Oficiais</h2>
            <div class="schedule">
                <h2>🗓 <strong>Quarta-feira às 20h</strong></h2>
                <h2>🗓 <strong>Domingo às 9h e às 18h</strong></h2>
            </div>
           
                <div style="text-align: center;">
                <a class="live-link" href="https://www.youtube.com/@MinisterioNovotempo" target="_blank">
                  🎥 Acesse o nosso canal no YouTube
                </a>
              </div>
        </section>

       
       <div>

       </div>
        <section class="know-us">
           <p> Estamos muito felizes por ter você conosco!<br>

Queremos conhecer você melhor para oferecer uma acolhida ainda mais especial e ajudá-lo a se sentir parte da nossa família.
Por favor, responda ao formulário abaixo: 
        
<div class="formulario-link">
<a href="https://docs.google.com/forms/d/e/1FAIpQLScBrZ-7H9EToYZFedkFJhxYEkckoNlz3kjOe1HWFSV_96fHuw/viewform" target="_blank">
  💌 Clique aqui para acessar o formulário
</a>
</div>


</section>
</section>
        
</div>
    
</div>
